.filters-list {
  height: 120px;
  padding: 10px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-color: #1d1d1d;
  overflow-y:auto;
}

.filter {
  margin-right: 20px;
  margin-bottom: 5px;
}

.filter-title {
  margin-right: 10px;
}

.checkboxes {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.checkbox {
  padding: 0px 5px 2px 5px;
  margin-right: 10px;
  margin-bottom: 10px;
  background-color: #DEDEDE;
  border-radius: 5px;
  cursor: pointer;
}

.checkbox:hover {
  background-color: #9A9A9A;
}

.checkbox-checked {
  background-color: #C38FFF;
}

.checkbox-checked:hover {
  background-color: #664B86;
}

.checkbox-title {  
  color: #1D1D1D
}

.input {
  padding: 5px 5px 3px 5px;
  border-radius: 5px;  
  border: none;
  background-color: #DEDEDE;
}